@using Afisha.Domain.Entities
@model IQueryable<Event>
@{
	string strTitle = "Панель администратора";
	ViewBag.Title = strTitle;
}

<div class="admin">
	<h1>@strTitle</h1>
	<div>
		<h2>Мероприятия</h2>
		<div class="admin_">
			<a asp-area="Admin" asp-controller="EventItems" asp-action="Edit" asp-route-id="">Добавить мероприятие</a>
		</div>

		@if (Model.Any())
		{
			<div>
				@foreach (Event entity in Model)
				{
					<div class="admin_cont">
						<a asp-area="Admin" asp-controller="EventItems" asp-action="Edit" asp-route-id="@entity.Id">Редактировать</a>
						<a>|</a>
						<form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="EventItems" asp-action="Delete" method="post">
							<input type="hidden" name="id" value="@entity.Id">
							<a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Удалить </a>
						</form>
						<a>|</a>
						
						<a asp-area="" asp-controller="Events" asp-action="Index" asp-route-id="@entity.Id">
							@($"{entity.Title}")
						</a>
					</div>
				}
			</div>
		}
	</div>
	<div class="admin_fields">
		<h2>Редактировать страницы сайта</h2>
		<a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
		<a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Концерты</a>
		<a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Кино</a>
	</div>
	<div class="div-box">
		<form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
			<input type="submit" value="Выйти" />
		</form>
	</div>
</div>