@model Ticket


<div class="container">
    <div class="row">

        <div class="col-xs-12 col-md-12">
            <div>
                <h1 style="font-size: 5vmin;color:black;">@Model.Title</h1>
                <h2 style="font-size: 3.5vmin;color: gray;margin-bottom: 3vmin;">@Model.UserName</h2>

            </div>
            <div id="tekst_sverhu_kartinki">
                <img style="max-height:520px;border-radius: 2vmin;min-height: 170px;filter:brightness(0.8);box-shadow: 0px 5px 9px 3px #000000c4;" src="~/images/@Model.TitleImagePath" class="d-block w-100" alt="">
                <div class="tekst_sverhu_kartinki_1">
                    <h2 style="font-size: 3.5vmin;color: white;">@Model.Date.ToString("dd MMMM") @Model.Date.ToShortTimeString()</h2>
                </div>
                <div class="tekst_sverhu_kartinki_1" style="margin-left: 75%;float: right;">
                    <h2 style="text-align: center;background: #000000a6;font-size: 3.5vmin;color: white;letter-spacing:0.5vmin;padding: 1vmin;border-radius: 1vmin;">@Model.Cost ₽</h2>
                </div>
            </div>
            <h1 style="font-size: 5vmin;color: black;margin-top:3vmin;">Описание</h1>
            <h2 style="font-size: 2.5vmin;color: gray; letter-spacing:0.2vmin;">@Model.Text</h2>

        </div>
    </div>
</div>

@*<div class="container">
    <div class="row">

        <div class="col-xs-12 col-md-12">
            <div>
                <h1 style="font-size: 5vmin;color:black;">@Model.Id</h1>
                <h1 style="font-size: 5vmin;color:black;">@Model.UserName</h1>
                <h1 style="font-size: 5vmin;color:black;">@Model.DateAdded</h1>
                <h1 style="font-size: 5vmin;color:black;">@Model.Number</h1>
                @*<h2 style="font-size: 3.5vmin;color: gray;">@Model.Type @Model.Age+</h2>
                @if(Model.Age>=18){
                    <h2 style="font-size: 3.5vmin;color: red;">Внимание ! Проверьте возраст</h2>
                }
            </div>
            <img style="max-height:520px;border-radius: 2vmin;min-height: 170px;filter:brightness(0.8);box-shadow: 0px 5px 9px 3px #000000c4;" src="~/images/@Model.TitleImagePath" class="d-block w-100" alt=""> 
            <form style="margin-top: 4vmin;text-align: center;" asp-controller="Cart" asp-action="AddToCart" asp-route-eventId="@Model.Id" asp-route-userName="@User.Identity.Name">
                <button type="submit" style="margin-top: 1vmin;border-radius: 3vmin;background: black;color: white;font-size: 2.5vmin;">Подтвердить</button>
            </form>
        </div>
         
    </div>
</div>*@




