@model List<Event>
@{
    TextField textField = ViewBag.TextField;


}
 
 <div class="listwrappertex">
     @if(Model.Any()){
        @if (@Model[0].Type=="Концерт")
        {
            <h1>Концерты</h1>
        }
        else if (@Model[0].Type == "Спектакль")
        {
           <h1>Спектакли</h1>
        }
        else{
            <h1>@Model[0].Type</h1>
        }
     }
     else
     {
        <h1>Похоже,тут пусто &#128164</h1>
     }
</div>

<div class="container">
    <div class="row">
        @if (Model.Any())
        {
            foreach (Event entity in Model)
            {
                <div class="col-xs-12 col-md-6">
                    <div class="smallimg">
                        <a asp-area="" asp-controller="Event" asp-action="Index" asp-route-id="@entity.Id">
                            <div style="display:block;">
                                <div id="tekst_sverhu_kartinki">

                                    <div class="brightless">
                                        <img src="~/images/@entity.TitleImagePath" />
                                        <div class="tekst_sverhu_kartinki_3">
                                            <span style="background: #000000c7;padding: 5px; border-radius: 20px;font-size: 90%;">@entity.Cost ₽</span>
                                        </div>
                                        @if (entity.PCard == true)
                                        {
                                            <div class="tekstheaderright"><span style="font-size:1.4ex;">Пушкинская карта</span></div>

                                        }
                                    </div>

                                </div>
                            </div>
                            <div style="margin-left: -0.8ex;text-align:center;">
                                <div сlass="smallimg" style="margin-bottom: -1ex;">
                                    <span style="font-weight:400;">@entity.Title</span>
                                </div>
                                <div style="display:inline;" class="smallimg">
                                    <span style="font-size:20px;">@entity.Date.ToString("dd MMMM") @entity.Date.ToShortTimeString()</span>
                                    <span style="font-size:20px;">@entity.Address</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>
