

@model IQueryable<Event>
@{
	TextField textField = ViewBag.TextField;

	ViewBag.Title = textField.MetaTitle;
	ViewBag.Description = textField.MetaDescription;
	ViewBag.Keywords = textField.MetaKeywords;

}

@* Ближайшие мероприятия*@
<div>
	<div class="promo_open">
		<h2>Ближайшие мероприятия</h2>
	</div>
	@if (Model.Any())
	{
		<div class="row features">
			<ul class="section1">

				@foreach (Event entity in Model)
				{<li class="section__item">

						<section class="col-4 col-12-narrower feature">

							<div class="image-wrapper first">
								
								<a asp-area="" asp-controller="Event" asp-action="Index" asp-route-id="@entity.Id" class="image featured">
									<div id="tekst_sverhu_kartinki">
										<div class="brightless">
											<img class="slider" src="~/images/@entity.TitleImagePath" alt="1200" class="slider" />
										</div>

										<div class="tekst_sverhu_kartinki_1" style="margin-bottom: 30ex;">
											@if (entity.Age != null && entity.Type!=null)
											{
												<span style="color: #ffffffa6;text-transform: none;font-size: 25px;">@entity.Type @entity.Age+</span>
											}

										</div>
										
										<div class="tekst_sverhu_kartinki_1">
											
											<span>@entity.Title</span><br>
											<div class="itemsnew">
												<span>@entity.Date</span>
												<span>@entity.Address</span>

											</div>

										</div>
									
										<div class="tekst_sverhu_kartinki_1">
											<div class="cost"> <span>@entity.Cost ₽</span></div>
										</div>

									</div>
								
									
							 </a> 
						 </div>
						

					 </section>




				 </li>

				}
			</ul></div>
	}
</div>

@* Концерты *@
<div>
	<div class="promo_open">
	<h2>Концерты</h2>
	</div>

</div>

@*Кино*@

<div>
	<div class="promo_open">
		<h2>Кино</h2>
	</div>

</div>

@*StandUP*@

<div>
	<div class="promo_open">
		<h2>StandUP Шоу</h2>
	</div>

</div>

@*Спектакли*@

<div>
	<div class="promo_open">
		<h2>Спектакли</h2>
	</div>

</div>

@*
<div class="slider middle">
	<div class="slides"> 

		<input type="radio" namename="r" id="r1" checked />
		<input type="radio" namename="r" id="r2" checked />
		<input type="radio" namename="r" id="r3" checked />
		<input type="radio" namename="r" id="r4" checked />
		<input type="radio" namename="r" id="r5" checked />

		<div class="slide"><img src="~/images/s940x380 (5).webp" alt="" /></div>
		<div class="slide"><img src="/images/s940x380 (1).webp" alt="" /></div>
		<div class="slide"><img src="~/images/s940x380 (4).webp" alt="" /></div>
		<div class="slide"><img src="~/images/s940x380 (3).webp" alt="" /></div>
		<div class="slide"><img src="~/images/s940x380 (2).webp" alt="" /></div>

	</div>

	<div class="navigation">

		<label for="r1" class="bar"></label>
		<label for="r2" class="bar"></label>
		<label for="r3" class="bar"></label>
		<label for="r4" class="bar"></label>
		<label for="r5" class="bar"></label>
	</div>

</div>*@