
@model List<IQueryable<Event>>
@{
	TextField textField = ViewBag.TextField;

	ViewBag.Title = textField.MetaTitle;
	ViewBag.Description = textField.MetaDescription;
	ViewBag.Keywords = textField.MetaKeywords;

}
<link rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>


<div class="smallimg">
	<a asp-controller="Event" asp-action="Show">Афиша событий в Краснодаре</a>
</div>
	
<div class="swiper mySwiper">
	<div class="swiper-wrapper">
		
		@if (Model.Any())
		{

			@foreach (Event entity in Model[0])
			{
				<div class="swiper-slide">
						<a asp-area="" asp-controller="Event" asp-action="Index" asp-route-id="@entity.Id" class="image featured">
						<div id="tekst_sverhu_kartinki">
							<div class="brightless">
								<img class="slider" src="~/images/@entity.TitleImagePath" alt="1200" class="slider" />
							</div>

							<div class="tekst_sverhu_kartinki_1" style="margin-bottom: 38ex;">
								@if (entity.Age != null && entity.Type != null)
								{
									<span style="color: #ffffffa6;text-transform: none;font-size: 25px;">@entity.Type @entity.Age+</span>
								}


							</div>
							<div class="tekst_sverhu_kartinki_1" style="margin-bottom: 38ex;">
							@if (entity.PCard == true)
							{
									<div class="wrapper2"><h1>Пушкинская карта</h1></div>
							
							}
							</div>

							<div class="tekst_sverhu_kartinki_1">

								<span>@entity.Title</span><br>
								<div class="itemsnew">
									<span>@entity.Date.ToString("dd MMMM") @entity.Date.ToShortTimeString()</span>
									<span>@entity.Address</span>

								</div>

							</div>

							<div class="tekst_sverhu_kartinki_1">
								<div class="cost">
									<span style="letter-spacing:4px;">@entity.Cost ₽</span>
								</div>
							</div>

						</div>
							</a>

				</div>

						
						

			}
		}
	</div>
	<div class="swiper-pagination"></div>  <div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>




@*Концерты*@
	<div class="container">
		<div class="row">
			<div class="smallimg" style=" margin-bottom: 1.4ex;">
			<a asp-controller="Event" asp-action="List" asp-route-type="Концерт">Концерты »</a>
			</div>
			@foreach (Event entity in Model[1])
			{
				@if (entity.Type == "Концерт")
				{
					<div class="col-xs-12 col-md-4" style="padding-top: 0px;padding-bottom: 3ex;">
						<div class="smallimg">
							<a asp-area="" asp-controller="Event" asp-action="Index" asp-route-id="@entity.Id">
								<div style="display:block;">
									<div id="tekst_sverhu_kartinki">

										<div class="brightless">
											<img src="~/images/@entity.TitleImagePath" />
										<div class="tekst_sverhu_kartinki_3">
											<span style="background: #000000c7;padding: 5px; border-radius: 20px;font-size: 90%;">@entity.Cost ₽</span>
										</div>
										</div>

									</div>
								</div>
								<div style="margin-left: -0.8ex;text-align:center;">
									<div сlass="smallimg" style="margin-bottom: -1ex;">
										<span style="font-weight:400;">@entity.Title</span>
									</div>
									<div style="display:inline;" class="smallimg">
										<span style="font-size:20px;">@entity.Date.ToString("dd MMMM") @entity.Date.ToShortTimeString()</span>
										<span style="font-size:20px;">@entity.Address</span>
									</div>
								</div>
							</a>
						</div>
					</div>
				}
			}
		</div>
	</div>

@*Кино*@
	<div class="container">
		<div class="row">
			<div class="smallimg" style=" margin-bottom: 1.4ex;">
			<a asp-controller="Event" asp-action="List" asp-route-type="Кино">Кино »</a>
			</div>
			@foreach (Event entity in Model[2])
			{
				@if (entity.Type == "Кино")
				{
					<div class="col-md-4" style="padding-top: 0px;padding-bottom: 3ex;">
						<div class="smallimg">
							<a asp-area="" asp-controller="Event" asp-action="Index" asp-route-id="@entity.Id">
								<div style="display:block;">
									<div id="tekst_sverhu_kartinki">

										<div class="brightless">
											<img src="~/images/@entity.TitleImagePath" />
										<div class="tekst_sverhu_kartinki_3">
											<span style="background: #000000c7;padding: 5px; border-radius: 20px;font-size: 90%;">@entity.Cost ₽</span>
										</div>
										</div>

									</div>
								</div>
								<div style="margin-left: -0.8ex;text-align:center;">
									<div сlass="smallimg" style="margin-bottom: -1ex;">
										<span style="font-weight:400;">@entity.Title</span>
									</div>
									<div style="display:inline;" class="smallimg">
										<span style="font-size:20px;">@entity.Date.ToString("dd MMMM") @entity.Date.ToShortTimeString()</span>
										<span style="font-size:20px;">@entity.Address</span>
									</div>
								</div>
							</a>
						</div>
					</div>
				}
			}
		</div>
	</div>

@*StandUP Шоу*@
<div class="container">
	<div class="row">
		<div class="smallimg" style=" margin-bottom: 1.4ex;">
			<a asp-controller="Event" asp-action="List" asp-route-type="StandUP Шоу">StandUP Шоу »</a>
		</div>
		@foreach (Event entity in Model[3])
		{
			@if (entity.Type == "StandUP Шоу")
			{
				<div class="col-md-4" style="padding-top: 0px;padding-bottom: 3ex;">
					<div class="smallimg">
						<a asp-area="" asp-controller="Event" asp-action="Index" asp-route-id="@entity.Id">
							<div style="display:block;">
								<div id="tekst_sverhu_kartinki">

									<div class="brightless">
										<img src="~/images/@entity.TitleImagePath" />
										<div class="tekst_sverhu_kartinki_3">
											<span style="background: #000000c7;padding: 5px; border-radius: 20px;font-size: 90%;">@entity.Cost ₽</span>
										</div>
									</div>

								</div>
							</div>
							<div style="margin-left: -0.8ex;text-align:center;">
								<div сlass="smallimg" style="margin-bottom: -1ex;">
									<span style="font-weight:400;">@entity.Title</span>
								</div>
								<div style="display:inline;" class="smallimg">
									<span style="font-size:20px;">@entity.Date.ToString("dd MMMM") @entity.Date.ToShortTimeString()</span>
									<span style="font-size:20px;">@entity.Address</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			}
		}
	</div>
</div>

@*Спектакли*@
<div class="container">
	<div class="row">
		<div class="smallimg" style=" margin-bottom: 1.4ex;">
			<a asp-controller="Event" asp-action="List" asp-route-type="Спектакль">Спектакли »</a>
		</div>
		@foreach (Event entity in Model[4])
		{
			@if (entity.Type == "Спектакль")
			{
				<div class="col-md-4" style="padding-top: 0px;padding-bottom: 3ex;">
					<div class="smallimg">
						<a asp-area="" asp-controller="Event" asp-action="Index" asp-route-id="@entity.Id">
							<div style="display:block;">
								<div id="tekst_sverhu_kartinki">

									<div class="brightless">
										<img src="~/images/@entity.TitleImagePath" />
										<div class="tekst_sverhu_kartinki_3">
                                            <span style="background: #000000c7;padding: 5px; border-radius: 20px;font-size: 90%;">@entity.Cost ₽</span>
                                        </div>
									</div>

								</div>
							</div>
							<div style="margin-left: -0.8ex;text-align:center;">
								<div сlass="smallimg" style="margin-bottom: -1ex;">
									<span style="font-weight:400;">@entity.Title</span>
								</div>
								<div style="display:inline;" class="smallimg">
									<span style="font-size:20px;">@entity.Date.ToString("dd MMMM") @entity.Date.ToShortTimeString()</span>
									<span style="font-size:20px;">@entity.Address</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			}
		}
	</div>
</div>

<script>

	var swiper = new Swiper(".mySwiper", {
		spaceBetween: 30,
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		pagination: {
			el: ".swiper-pagination",
		},
		mousewheel: true,
		keyboard: true,
	});
</script>

